.sidebarOption {
    display: flex;
    cursor: pointer;
    align-items: center;
    height: 40px;
    color:grey;
    transition: 200ms color ease-in;
    padding-left: 5px;
  }
  
  .sidebarOption:hover {
    color: white;
  }
  
  .sidebar > hr {
    border: 1px solid #282828;
    width: 90%;
    margin: 10px auto;
  }
  
  /* .sidebarOption__icon {
    padding-left: 10px;
    padding-right: 10px;
    height:20px;
    width:20px;
    
  } */
  
  .sidebarOption > p {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 14px;
    
  }
  .sidebarOption__icon{
    padding-left: px;
    padding-right: px;
    flex-direction: column;
    margin-left: px;
    justify-items: center;
    justify-content: center;
  }
  .tit{
    padding-left: 5px;
    padding-top: 5px;
  }